.home-page {
  .main-header {
    background-color: #0000004d;
    color: #fff;
    padding: 40px;
    text-align: center;
    font-size: 30px;
  }
  .task-box {
    text-align: center;
  }
  .task-box a {
    display: block;
    width: 200px; /* Set the width of each task box */
    padding: 10px;
    margin: 10px auto; /* Adjust margin for spacing between boxes */
    border: 1px solid #ccc; /* Add a border */
    text-decoration: none;
    color: #333;
    border-radius: 5px; /* Rounded corners */
    background-color: #f9f9f9; /* Box background color */
  }
}

/* homepage.css */

.menu-bar {
  background: #333;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  transition: max-height 0.3s ease-in-out;
  overflow: hidden;
}

.menu li {
  margin: 0;
}

.menu li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

.menu li a:hover {
  background: rgb(85, 85, 85);
}

.menu.open {
  max-height: 100px; /* Change this value based on the height of your menu */
}

/* Sample styles - adjust as needed */
